@{
    ViewBag.Title = "About";
}
<div style="background-color:white; opacity:.6; color:black">

        <h3>This is the about page where we will post our current guild progression as well as any special videos of our members doing sommething cool</h3>

        <h3>Current raid needs are as follows:</h3>
        <ul style="font-size:19px">
            <li><bdi style="color:purple">Warlock</bdi><bdi style="color:red"> (high)</bdi></li>
            <li><bdi style="color:blue">Shammy</bdi><bdi style="color:red"> (high)</bdi></li>
            <li><bdi style="color:brown">warrior</bdi><bdi style="color:red">(high)(dps)</bdi></li>
            <li><bdi style="color:red">Death knight</bdi><bdi style="color:red"> (high) (dps)</bdi></li>
            <li><bdi style="color:goldenrod">Rogue</bdi><bdi style="color:red"> (high)</bdi></li>
            <li><bdi style="color:cornflowerblue">Mage</bdi><bdi style="color:red"> (high)</bdi></li>

        </ul>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/2y3WVr_9aeY" frameborder="0" allowfullscreen></iframe>
            <p>This is a video of Thannon soloing a current content world boss crazy right? </p>
        
    </div>
