@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>To contact simply send Balo&#248; a tell in game. His BattleTag is huuqwas#1907 add him and ask any additional questions that way. </h1>
