@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-family:'Yu Gothic UI'">Hell<bdi style="color:darkred">s</bdi>cream's Angels</h1>
    <p class="lead">Lok'tar Ogar</p>
    <p><a href="http://us.battle.net/wow/en/guild/thrall/Hellscreams_Angels/" class="btn btn-default btn-lg">Battle.Net &raquo;</a></p>
</div>
<div class="blah">
    <div class="row">
        <div class="col-md-3">
            <h2><bdi style="color:darkorange">Balo&#248;</bdi></h2>
            <p>
                Our fearless Cheftain He will Lead you into battle from the front taking on the enemy head on and prtecting
                everyone from the enemies wrath.
            </p>
            <p><a class="btn btn-default" href="http://us.battle.net/wow/en/character/thrall/Balo%C3%B8/simple">Armory Link &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2><bdi style="color:hotPink ">Thannon</bdi></h2>
            <p>
                Council member. Standing alongside Balo&#248; he protects our guild from the forces of the Burning Legion.
                Summoning the forces of Light he vaquishes his opponents as he laughs merrily. Also is the great balancer, Balo&#248; can be a bit rough around the edges Thannon is the peacemaker. 
            </p>
            <p><a class="btn btn-default" href="http://us.battle.net/wow/en/character/thrall/Thanon/simple">Armory Link &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2><bdi style=" color:darkorange" >Bloodhooves</bdi></h2>
            <p>Essentially our guild mascot. One of our council Members. What he lacks in skill he makes up for in comedic relief Also the glue that holds the guild together and kick ass boomkin</p>
            <p><a class="btn btn-default" href="http://us.battle.net/wow/en/character/thrall/Bloodhoov%C3%A9s/simple">Armory Link &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2><bdi style="color:hotpink">Sinciti</bdi></h2>
            <p>Council Member. Guild greeter. Resident girl , and great raider.</p>
            <p><a class="btn btn-default" href="http://us.battle.net/wow/en/character/moon-guard/Sinciti/simple">Armory Link &raquo;</a></p>
        </div>
    </div>
</div>